@model finalproject_se1.Models.tblGood

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tblGood</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.goodName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.goodName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cateID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cateID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.goodAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.goodAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.unitPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.unitPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.unitSold)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.unitSold)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.importnote)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.importnote)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.goodID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
