@model IEnumerable<finalproject_se1.Models.tblGood>

@{
    ViewBag.Title = "Goods";
}

<h2>Product List</h2>

<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Category
        </th>
        <th>
            Quantity
        </th>
        <th>
            Price
        </th>
        <th> </th>
    </tr>

@foreach (var item in Model) 
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.goodName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cateID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.goodAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.unitSold)
        </td>
        <td>
            <a href="/Cart/Addtocart/@item.goodID">
                <img src="@Url.Content("~/Content/cart.jpg")" style="width:30px" />
            </a>
        </td>
    </tr>
}

</table>
