@model IEnumerable<finalproject_se1.Models.tblGood>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Category
        </th>
        <th>
            Quantity
        </th>
        <th>
            Price
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) 
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.goodName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cateID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.goodAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.unitSold)
        </td>
        <td>
            <a href="/Cart/Addtocart/@item.goodID">
                <img src="@Url.Content("~/Content/cart.jpg")" style="width:30px" />
            </a>
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.goodID }) |
            @Html.ActionLink("Details", "Details", new { id = item.goodID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.goodID })
        </td>
    </tr>
}

</table>
